<div class="container">
    <div>
         <h2>Ajouter un produit</h2>
    </div>

    <form>
      <div hidden class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" placeholder="1"  id="id" name="id" [(ngModel)]="newProduct.id">
      </div>
      <div class="form-group">
        <label for="name">Nom Produit</label>
        <input type="text" class="form-control" placeholder="alcatel"  id="name" name="name"  [(ngModel)]="newProduct.name">
      </div>
      <div class="form-group">
        <label for="prix">Prix</label>
        <input type="number" class="form-control" placeholder=" 100000" id="prix" name="prix"  [(ngModel)]="newProduct.prix">
      </div>
      <div class="form-group">
        <label for="dateCreation">Date creation</label>
        <input type="date" class="form-control" id="dateCreation" name="dateCreation"  [(ngModel)]="newProduct.dateCreation">
      </div>
      <div class="form-select">
        <label class="form-select-label">Categorie</label>
         <select class="form-control" id="idCat" name="idCat" [(ngModel)]="newidCategorie">
            <option *ngFor="let cat of categories" [value]="cat.id" > {{cat.nom}} </option>
          </select>
      </div>
      <button type="submit" (click)="addProduct()"class="btn btn-success mt-3">Ajouter</button>
    </form>


</div>
